<ion-content class="corpoLogin">
    <img
        class="logo"
        src="../../../assets/thuiTapioca.png"
        alt="logo Thui tapioca"
    >

    <ion-row>
        <ion-col size="12">
            <h2>Seja Bem vindo</h2>
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
            autofocus="true"
            required="true"
            [(ngModel)]='email'
            inputmode="email"
        ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
            autofocus="true"
            required="true"
            [(ngModel)]='senha'
        ></ion-input>
    </ion-item>

    <ion-button  (click)="logar()"> Entrar </ion-button>
    <br>
    <ion-button  href="/tabs/pg/cadastro"> Cadastrar </ion-button>
</ion-content>
