.main {
  padding: 5%;
}

.corpoLogin {
  --background: url('../../../assets/ativo6.png') no-repeat center center/cover;
  text-align: center;
  --padding-top: 5%;
  --padding-start: 5%;
  --padding-end: 5%;
  --padding-bottom: 5%;
}

.logo {
  width: 50%;
  margin-top: 8%;
}

ion-row h1 {
  margin: 5% 0;
  font-size: 1.8em;
  height: 2em;
  margin-top: 19%;
}
ion-item {
  padding: 1% 0;
  --background: rgba(255, 142, 125, 0.6);
}
ion-button {
  --background: rgba(255, 142, 125, 0.9);
  color: black;
  width: 40%;
}
