.main {
    padding: 5%;
  }
  
  .corpoHome {
    --background: #fff url('../../../assets/icon/fundoHome.svg') no-repeat center center/cover;
    text-align: center;
    --padding-top: 13%;
    --padding-start: 5%;
    --padding-end: 5%;
    --padding-bottom: 5%;
  }
  
  .logo {
    width: 50%;
  }
  
  .imgsobre {
    width: 50%;
    float: right;
  }
  
  .texto h2 {
    text-align: center;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: -12%;
  }
  .texto p {
    text-align: center;
    text-justify: inherit;
    font-size: 0.9em;
  }