<ion-content class="corpoHome">
  <img class="logo" src="../../../assets/thuiTapioca.png" alt="logo Thui tapioca" />


<form [formGroup]="cadastro" (ngSubmit)="cadCadastro()">


    <ion-item>
        <ion-icon name="person" slot="start"> </ion-icon> 
      <ion-input 
      [(ngModel)]="nome" 
      type="text" 
      placeholder="Nome: " 
      
      inputmode="text"
      formControlName="nome"
      ></ion-input>
      </ion-item>


<ion-item>
  <ion-icon name="mail" slot="start"> </ion-icon> 
<ion-input 
[(ngModel)]="email" 
type="mail" 
placeholder="Email: " 
inputmode="mail"
formControlName="email"
></ion-input>
</ion-item>


<ion-item>
    <ion-icon name="lock" slot="start"> </ion-icon> 
  <ion-input 
  [(ngModel)]="senha" 
  type="password" 
  placeholder="Senha: " 
  
  
  inputmode="password"
  formControlName="senha"
  
  ></ion-input>
  </ion-item>

<ion-button type="submit" expand=""> Cadastro </ion-button>


</form>







</ion-content>
