<ion-content class="corpoHome">
  <img class="logo" src="../../../assets/thuiTapioca.png" alt="logo Thui tapioca" />

  <ion-row class="texto">
    <ion-col size="12">
      <h2>História</h2>
      <p>
        Surgiu através de uma empresa da família. Realizamos eventos empresariais e fornecíamos toda
        a parte de buffet, e uma das atrações era a tapioca. Devido ao grande sucesso nos eventos,
        fazendo filas enormes e certas vezes se tornando a maior atração do evento, percebemos uma
        grande oportunidade de negócio. E assim nasceu a Thui Tapioca.
      </p>
    </ion-col>
  </ion-row>
  <ion-row class="imgsobre">
    <ion-col size="12">
      <img src="../../../assets/Ativo 3.png" alt="Thui Tapioca" />
    </ion-col>
  </ion-row>
</ion-content>
